@import url(e:\rep\eremor-JSFE2022Q1\shelter\assets\fonts\arial\arial-font.css);
@import url(e:\rep\eremor-JSFE2022Q1\shelter\assets\fonts\georgia\georgia-font.css);
:root {
  --start-gradient: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  --footer-gradient: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
  --color-light-xl: #ffffff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-dark: #000000;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 1279px) {
  .wrapper {
    max-width: 708px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    max-width: 300px;
  }
}

.btn {
  padding: 0;
  display: block;
  font-family: inherit;
  color: var(--color-dark-3xl);
  border: none;
  border-radius: 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
}

.btn--primary:hover {
  background-color: var(--color-primary-light);
}

.btn--outline {
  background-color: transparent;
  border: 2px solid var(--color-primary);
}

.btn--outline:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.btn--number {
  background-color: var(--color-primary);
}

.btn--number:hover {
  cursor: default;
}

.btn--disabled {
  border-color: var(--color-dark);
  -webkit-filter: invert(86%) sepia(11%) saturate(32%) hue-rotate(314deg) brightness(90%) contrast(103%);
          filter: invert(86%) sepia(11%) saturate(32%) hue-rotate(314deg) brightness(90%) contrast(103%);
}

.btn--disabled:hover {
  border-color: var(--color-dark);
  background-color: transparent;
  cursor: default;
}

.section-title {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 2.5rem;
  }
}

.header {
  width: 100%;
  background-color: var(--color-light-xl);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__wrapper {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 10.5%;
  }
}

@media screen and (max-width: 519px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 16.5%;
  }
}

.header__nav {
  margin-bottom: 5px;
}

.logo {
  max-width: 186px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.logo__title {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 114%;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: var(--color-dark-l);
}

.logo__subtitle {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: var(--color-dark-3xl);
}

.logo--hidden {
  opacity: 0;
}

.logo--burger {
  position: absolute;
  top: 60px;
  right: 125px;
}

.burger {
  width: 30px;
  height: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 5;
}

.burger span {
  width: 30px;
  height: 2px;
  background-color: var(--color-dark);
}

.burger:hover span {
  background-color: var(--color-dark-2xl);
}

.burger--open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 767px) {
  .nav {
    position: fixed;
    top: -30px;
    right: -100%;
    width: 100%;
    height: 105vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #29292999;
    z-index: 4;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
}

.nav--open {
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.nav__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 320px;
    background-color: var(--color-light-xl);
  }
}

.nav__item {
  margin-right: 36px;
}

@media screen and (max-width: 767px) {
  .nav__item {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.nav__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .nav__item:last-child {
    margin-bottom: 0;
  }
}

.nav__item:hover {
  cursor: pointer;
}

.nav__item:hover > .nav__link {
  color: var(--color-dark-3xl);
}

.nav__item--active {
  position: relative;
}

.nav__item--active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
}

.nav__item--active > .nav__link {
  color: var(--color-dark-3xl);
}

.nav__link {
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-dark-l);
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 767px) {
  .nav__link {
    font-size: 3.2rem;
  }
}

.friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: var(--color-light-l);
}

@media screen and (max-width: 1279px) {
  .friends {
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 767px) {
  .friends {
    padding-top: 41px;
    padding-bottom: 41px;
  }
}

.friends__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friends__title {
  margin: 0;
  margin-bottom: 59px;
  padding: 0;
  max-width: 400px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .friends__title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .friends__title {
    margin-bottom: 42px;
  }
}

.friends__list {
  margin-bottom: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 900px;
  gap: 30px 40px;
  overflow-y: hidden;
}

@media screen and (max-width: 1279px) {
  .friends__list {
    margin-bottom: 39px;
    max-height: 1365px;
  }
}

@media screen and (max-width: 767px) {
  .friends__list {
    margin-bottom: 42px;
  }
}

.friends__content {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px 40px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.friends__pagination {
  width: 100%;
  max-width: 340px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  cursor: pointer;
  background-color: var(--color-light-s);
}

.card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: var(--color-light-xl);
}

.card:hover > .card__btn {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.card__img {
  margin-bottom: 30px;
}

.card__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.card__btn {
  margin-bottom: 30px;
  padding: 13px 43px 12px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination__btn {
  position: relative;
  width: 52px;
  height: 52px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.pagination__btn[data-arrow='start']::before {
  position: absolute;
  top: 19px;
  left: 11px;
  content: '';
  display: block;
  width: 25px;
  height: 11px;
  background: url("../../assets/icons/double-arrow.svg") center no-repeat;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.pagination__btn[data-arrow='prev']::before {
  position: absolute;
  top: 19px;
  left: 19px;
  content: '';
  display: block;
  width: 10px;
  height: 11px;
  background: url("../../assets/icons/arrow-prev.svg") center no-repeat;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.pagination__btn[data-arrow='next']::before {
  position: absolute;
  top: 19px;
  left: 19px;
  content: '';
  display: block;
  width: 10px;
  height: 11px;
  background: url("../../assets/icons/arrow-prev.svg") center no-repeat;
}

.pagination__btn[data-arrow='end']::before {
  position: absolute;
  top: 19px;
  left: 11px;
  content: '';
  display: block;
  width: 25px;
  height: 11px;
  background: url("../../assets/icons/double-arrow.svg") center no-repeat;
}

.footer {
  padding-top: 40px;
  background: url(../../assets/images/noise_transparent.png) center/10%, var(--start-gradient), #211f20;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding-top: 14px;
  }
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1279px) {
  .footer__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__contacts {
  padding-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .footer__contacts {
    margin-left: 19px;
  }
}

@media screen and (max-width: 767px) {
  .footer__contacts {
    margin-left: 0;
    margin-bottom: 27px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__location {
  margin-left: 20px;
  padding-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .footer__location {
    margin-left: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer__location {
    margin-left: 3px;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  max-width: 280px;
  color: var(--color-light-xl);
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer__title {
    text-align: center;
    max-width: 294px;
  }
}

.footer__contact {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 320px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__contact:hover {
  color: var(--color-primary-light);
}

.footer__contact::before {
  position: absolute;
  top: -5px;
  left: 0;
  display: block;
  width: 40px;
  height: 32px;
  content: "";
}

.footer__contact--mail {
  margin-top: 3px;
  margin-bottom: 49px;
}

.footer__contact--mail::before {
  background: url("../../assets/icons/mail.svg") center no-repeat;
}

.footer__contact--phone::before {
  background: url("../../assets/icons/phone.svg") center no-repeat;
}

.footer__contact--location {
  margin-top: -8px;
  padding-left: 40px;
}

.footer__contact--location::before {
  top: -5px;
  left: -2px;
  width: 22px;
  height: 32px;
  background: url("../../assets/icons/pin.svg") center no-repeat;
}

.footer__contact--first-local {
  margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .footer__contact--first-local {
    margin-top: 0px;
    margin-bottom: 51px;
  }
}

.footer__contact--first-local::before {
  top: 6px;
}

.footer__image {
  max-width: 300px;
  height: 310px;
}

@media screen and (max-width: 1279px) {
  .footer__image {
    margin-top: 69px;
  }
}

@media screen and (max-width: 767px) {
  .footer__image {
    margin-top: 45px;
    max-width: 260px;
    height: 269px;
  }
}

.footer__image img {
  width: 100%;
  height: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.popup__overlate {
  width: 100vw;
  height: 100vh;
  background-color: #29292999;
}

.popup__body {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 900px;
  min-height: 500px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1279px) {
  .popup__body {
    max-width: 630px;
    min-height: 350px;
  }
}

@media screen and (max-width: 767px) {
  .popup__body {
    max-width: 240px;
  }
}

.popup__image {
  min-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1279px) {
  .popup__image {
    min-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .popup__image {
    display: none;
  }
}

.popup__image img {
  width: 90%;
  height: 90%;
}

.popup__content {
  padding-top: 50px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 350px;
}

@media screen and (max-width: 1279px) {
  .popup__content {
    padding-top: 10px;
    padding-right: 9px;
    max-width: 260px;
  }
}

@media screen and (max-width: 767px) {
  .popup__content {
    padding: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.popup__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark);
}

.popup__subtitle {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark);
}

@media screen and (max-width: 1279px) {
  .popup__subtitle {
    margin-bottom: 20px;
  }
}

.popup__desc {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark);
}

@media screen and (max-width: 1279px) {
  .popup__desc {
    margin-bottom: 20px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 767px) {
  .popup__desc {
    margin-bottom: 24px;
  }
}

.popup__list {
  margin: 0;
  padding: 0;
  padding-left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .popup__list {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.popup__item {
  position: relative;
  margin-bottom: 10px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark);
}

@media screen and (max-width: 1279px) {
  .popup__item {
    margin-bottom: 6px;
  }
}

.popup__item strong {
  font-weight: 700;
  font-size: 1.5rem;
}

.popup__item::before {
  position: absolute;
  top: 0;
  left: -14px;
  content: "\2022";
  display: inline-block;
  width: 4px;
  font-weight: bold;
  color: var(--color-primary);
}

.popup__btn {
  position: absolute;
  top: -52px;
  right: -52px;
  width: 52px;
  height: 52px;
  background: url("../../assets/icons/cancel.svg") center no-repeat;
}

@media screen and (max-width: 767px) {
  .popup__btn {
    top: -55px;
    right: -25px;
  }
}

.popup__btn--hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}
/*# sourceMappingURL=style.css.map */