@import '../../../styles/colors';

.chain {
  background-color: $primary-color;

  &__wrapper {
    padding: 50px 0;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 2.8rem;
    line-height: 3.2rem;
    color: $light-color;
    letter-spacing: 4px;

    span {
      color: $secondary-color;
      cursor: pointer;
      letter-spacing: 2px;
    }
  }
}
