@import '../../../styles/colors';
@import '../../../styles/fonts';

.car {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px dashed $font-light-color;

  &__control {
    display: flex;
    align-items: center;
    height: 26px;
  }

  &__btn {
    margin-right: 10px;
  }

  &__name {
    font-size: 1.8rem;
    line-height: 1.9rem;
    font-weight: 400;
    color: $primary-color;
  }

  &__image svg {
    position: relative;
    top: 12px;
    width: 80px;
    height: 70px;
  }
}
