:root {
  --arial-font: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  --georgia-font: Georgia, "Charcoal CY", "Century Schoolbook L", serif;
  --start-gradient: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  --footer-gradient: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);

  --color-light-xl: #ffffff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
}

* {
  box-sizing: border-box;
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

.btn {
  padding: 0;
  display: block;
  font-family: inherit;
  color: var(--color-dark-3xl);
  border: none;
  border-radius: 100px;
  transition: 0.4s;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
}

.btn--primary:hover {
  background-color: var(--color-primary-light);
}

.btn--outline {
  background-color: transparent;
  border: 2px solid var(--color-primary);
}

.btn--outline:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.header {
  margin-top: 60px;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 186px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__title {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 114%;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: var(--color-primary);
}

.logo__subtitle {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
}

.header__nav {
  margin-bottom: 5px;
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav__item {
  margin-right: 36px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item:hover {
  cursor: pointer;
}

.nav__item:hover > .nav__link {
  color: var(--color-light-s);
}

.nav__item--active {
  position: relative;
}

.nav__item--active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
}

.nav__item--active > .nav__link {
  color: var(--color-light-s);
}

.nav__link {
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-dark-s);
  text-decoration: none;
  transition: 0.4s;
}

.only {
  margin-top: -180px;
  padding-top: 237px;
  background: url(../../assets/images/noise_transparent.png) center/10%, var(--start-gradient), #211f20;
}

.only__wrapper {
  display: flex;
  justify-content: space-between;
}

.only__content {
  margin-top: 167px;
  display: flex;
  flex-direction: column;
}

.only__title {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  max-width: 310px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 129%;
  color: var(--color-light-xl);
}

.only__text {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  max-width: 460px;
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-dark-s);
}

.only__btn {
  padding: 15px 44px;
  width: 207px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.only__image {
  width: 58.2%;
}

.only__image img {
  width: 100%;
  height: 100%;
}