:root {
  --arial-font: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  --georgia-font: Georgia, "Charcoal CY", "Century Schoolbook L", serif;
  --start-gradient: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  --footer-gradient: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);

  --color-light-xl: #ffffff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
}

* {
  box-sizing: border-box;
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

.btn {
  padding: 0;
  display: block;
  font-family: inherit;
  color: var(--color-dark-3xl);
  border: none;
  border-radius: 100px;
  transition: 0.4s;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
}

.btn--primary:hover {
  background-color: var(--color-primary-light);
}

.btn--outline {
  background-color: transparent;
  border: 2px solid var(--color-primary);
}

.btn--outline:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.section-title {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.header {
  margin-top: 60px;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 186px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__title {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 114%;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: var(--color-primary);
}

.logo__subtitle {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
}

.header__nav {
  margin-bottom: 5px;
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav__item {
  margin-right: 36px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item:hover {
  cursor: pointer;
}

.nav__item:hover > .nav__link {
  color: var(--color-light-s);
}

.nav__item--active {
  position: relative;
}

.nav__item--active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
}

.nav__item--active > .nav__link {
  color: var(--color-light-s);
}

.nav__link {
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-dark-s);
  text-decoration: none;
  transition: 0.4s;
}

.only {
  margin-top: -180px;
  padding-top: 237px;
  background: url(../../assets/images/noise_transparent.png) center/10%, var(--start-gradient), #211f20;
}

.only__wrapper {
  display: flex;
  justify-content: space-between;
}

.only__content {
  margin-top: 167px;
  display: flex;
  flex-direction: column;
}

.only__title {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  max-width: 310px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 129%;
  color: var(--color-light-xl);
}

.only__text {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  max-width: 460px;
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-dark-s);
}

.only__btn {
  padding: 15px 44px;
  width: 207px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.only__image {
  width: 58.2%;
}

.only__image img {
  width: 100%;
  height: 100%;
}

.about {
  padding-top: 80px;
  padding-bottom: 100px;
}

.about__wrapper {
  padding: 0 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  max-width: 370px;
}

.about__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  max-width: 430px;
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-dark-xl);
}

.about__text:last-child {
  margin-bottom: 0;
}

.friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: var(--color-light-l);
}

.friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends__title {
  margin: 0;
  margin-bottom: 59px;
  padding: 0;
  max-width: 400px;
  text-align: center;
}

.friends__slider {
  margin-bottom: 60px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.arrow {
  display: block;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  cursor: pointer;
}

.arrow:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.arrow--left {
  background: url('../../assets/icons/Arrow.svg') center no-repeat;
}

.arrow--right {
  background: url('../../assets/icons/Arrow.svg') center no-repeat;
  transform: rotate(-180deg);
}

.slider__body {
  display: flex;
  /* overflow-x: hidden; */
}

.slider__item {
  margin-right: 45px;
  margin-left: 45px;
}

/* .slider__item:last-child {
  margin-right: 0;
} */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  cursor: pointer;
  background-color: var(--color-light-s);
}

.card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card__img {
  margin-bottom: 30px;
}

.card__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.card__btn {
  margin-bottom: 30px;
  padding: 13px 43px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.friends__btn {
  padding: 15px 45px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.help {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: var(--color-light-xl);
}

.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__title {
  margin: 0;
  margin-bottom: 58px;
  padding: 0;
  text-align: center;
}

.help__list {
  margin: 0;
  padding: 0;
  min-height: 281px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.help__item {
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 90px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.help__item:first-child {
  background: url('../../assets/icons/icon-pet-food.svg') center top no-repeat;
}

.help__item:nth-child(2) {
  background: url('../../assets/icons/icon-transportation.svg') center top no-repeat;
}

.help__item:nth-child(3) {
  width: 60px;
  background: url('../../assets/icons/icon-toys.svg') center top no-repeat;
}

.help__item:nth-child(4) {
  background: url('../../assets/icons/icon-bowls-and-cups.svg') center top no-repeat;
}

.help__item:nth-child(5) {
  background: url('../../assets/icons/icon-shampoos.svg') center top no-repeat;
}

.help__item:nth-child(6) {
  background: url('../../assets/icons/icon-vitamins.svg') center top no-repeat;
}

.help__item:nth-child(7) {
  background: url('../../assets/icons/icon-medicines.svg') center top no-repeat;
}

.help__item:nth-child(8) {
  background: url('../../assets/icons/icon-collars-leashes.svg') center top no-repeat;
}

.help__item:last-child {
  background: url('../../assets/icons/icon-sleeping-area.svg') center top no-repeat;
}