@import '../../../styles/colors';
@import '../../../styles/fonts';

.footer {
  background-color: $primary-color;

  &__wrapper {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__github {
    display: block;
    width: 120px;
    height: 45px;
    padding-left: 45px;
    background-image: url('../../../../public/github.svg');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 45px;
    color: $light-color;
    font-size: 16px;
    text-decoration: none;
  }

  &__copyright {
    @include main-font;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $light-color;
    letter-spacing: 2px;

    span:last-child {
      @include logo-font;
      font-weight: 700;
      color: $secondary-color;
    }
  }

  &__rss {
    display: block;
    width: 150px;
    height: 50px;
    background: url('../../../../public/rs_school_js.svg') center no-repeat;
    filter: invert(100%);
    transition: 0.2s;
  }
}
